.Container {
    display: flex;
    align-items: center;
    flex-direction: column;
   
}



.Container header {
margin: 84px 0 24px;
width: 50%;
display: flex;
align-items: center;
justify-content: space-between;
}
.Container h2{
    margin-bottom: 20px;

}


.Container header div {
    gap: 8px;
    display: flex;
    align-items: center;
    }
    

.Container header img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: 7px;
}

.Container input{
    width: 35%;
    padding: 20px;

    border: none;
    background-color: #e6e6e6;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.Container button {
    width: 18%;
    padding: 10px;
    
    font-weight: 700;
    background: #ea4c89;
    border-radius: 5px;
    margin: 12px 0 84px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
    color: #e6e6e6;
    font-size: 14px;
}

.Container button:hover{
    filter:brightness(0.9)
    
}

